<script>
	import Github from '../logos/Github.svelte';
	import Linkedin from '../logos/Linkedin.svelte';
</script>

<footer>
	<div style="min-width: 78px" />
	<div>
		<a href="/about">about</a>
		<!-- <a href="/contact">contact</a> -->
		<a href="/careers">careers</a>
	</div>
	<div>
		<a href="https://github.com/atomixwap">
			<Github />
		</a>
		<a href="https://www.linkedin.com/company/atomixwap">
			<Linkedin />
		</a>
	</div>
</footer>

<style>
	footer {
		align-items: center;
		justify-content: space-between;
		display: flex;
		padding: 32px;
	}
	footer a {
		padding: 0 8px;
		opacity: 0.5;
	}
	footer a:hover {
		opacity: 1;
	}
</style>
