<script context="module">
	import { browser, dev } from '$app/env';

	// we don't need any JS on this page, though we'll load
	// it in dev so that we get hot module replacement...
	export const hydrate = dev;

	// ...but if the client-side router is already loaded
	// (i.e. we came here from elsewhere in the app), use it
	export const router = browser;

	// since there's no dynamic data here, we can prerender
	// it so that it gets served as a static asset in prod
	export const prerender = true;
</script>

<svelte:head>
	<title>About</title>
</svelte:head>

<div class="content">
	<h1>About</h1>
	<p>
		Atomixswap is an engineering studio providing software and technology products and services for
		businesses of all sizes including startups in early and incubatory stages. We specialize in
		fail-fast fast-iteration methodologies to make deliverables under accelerated timelines.
	</p>
	<h1>Team</h1>
	<p>
		At atomixwap, we believe every individual is an artist whether they may be a singer, engineer,
		doctor, or dancer.
	</p>
	<p>
		Our team consists of high functioning artists who have worked for multiple Fortune 100 companies
		spanning across most industries, playing an integral role in their success and scaling.
	</p>
</div>

<style>
	.content {
		width: 100%;
		max-width: var(--column-width);
		margin: var(--column-margin-top) auto 0 auto;
	}
</style>
