<script context="module" lang="ts">
	import { browser, dev } from '$app/env';

	import Icon from 'svelte-awesome';
	import { mapMarker } from 'svelte-awesome/icons';

	// we don't need any JS on this page, though we'll load
	// it in dev so that we get hot module replacement...
	export const hydrate = dev;

	// ...but if the client-side router is already loaded
	// (i.e. we came here from elsewhere in the app), use it
	export const router = browser;

	// since there's no dynamic data here, we can prerender
	// it so that it gets served as a static asset in prod
	export const prerender = true;

	export const jobListings: {
		title: string;
		location: string;
		postDate: string;
		link: string;
		tags: string[];
	}[] = [
		{
			title: 'DevOps Engineer',
			location: 'Anywhere (Remote)',
			postDate: 'Oct 10, 2021',
			link: '/careers',
			tags: ['Terraform', 'AWS', 'GCP', 'Azure']
		},
		// {
		// 	title: 'DevOps Engineer',
		// 	location: 'Anywhere (Remote)',
		// 	postDate: 'Oct 13, 2021',
		// 	link: '/careers',
		// 	tags: ['Terraform', 'GCP', 'Chef', 'PowerShell']
		// },
		{
			title: 'Full Stack Software Engineer',
			// tags: ['C#', 'CSS', 'HTML', 'JavaScript', 'TypeScript'],
			tags: [],
			location: 'Anywhere (Remote)',
			postDate: 'Oct 25, 2021',
			link: '/careers'
		}
	];
</script>

<svelte:head>
	<title>Careers</title>
</svelte:head>

<div class="content">
	<h1>Open Positions</h1>
	<ul>
		{#each jobListings as opening}
			<li>
				<a href={opening.link}>
					<div class="position-title">{opening.title}</div>
					<div class="position-metadata">
						<!-- <span> -->
						<span class="position-location-text"
							><Icon
								data={mapMarker}
								style="margin-right: 8px;"
								class="position-location-icon"
								label="Location"
							/>
							{opening.location}</span
						>
						<span>
							{#each opening.tags as tag}
								<span class="pill">{tag}</span>
							{/each}
						</span>
					</div>
				</a>
			</li>
		{/each}
	</ul>
</div>

<style>
	ul {
		padding: 16px 0;
	}
	li:first-child {
		border-top: 1px solid var(--tertiary-color);
	}
	li {
		border-bottom: 1px solid var(--tertiary-color);
		padding: 16px;
	}
	li:hover {
		background-color: var(--tertiary-color);
	}
	li:hover a {
		color: inherit;
	}

	.position-location-text {
		text-transform: uppercase;
	}

	.position-metadata {
		font-size: 14px;
		color: #666;
		display: flex;
		justify-content: space-between;
	}

	.position-title {
		font-weight: bold;
		margin-bottom: 16px;
		font-size: 20px;
	}

	.pill {
		padding: 2px 8px;
		margin: 0 2px;
		border: 1px solid var(--primary-color);
		border-radius: 24px;
		font-size: 12px;
	}

	/* a:hover .pill {
		border-color: var(--accent-color);
	}

	a:hover span {
		fill: var(--accent-color);
		color: var(--accent-color);
		text-decoration: none;
	} */

	.content {
		width: 100%;
		max-width: var(--column-width);
		margin: var(--column-margin-top) auto 0 auto;
	}
</style>
