<script lang="ts"></script>

<svelte:head>
	<title>for Companies</title>
</svelte:head>

<div>
	<div class="hero-container">
		<div class="hero">
			We provide white-glove engineering services specializing Software Engineering with just as
			much emphasis on Personal and Human Engineering.
		</div>
	</div>
	<div class="row">
		<div />
		<div>
			<h3>Product Development</h3>
			<p>Complete product inception, design and development from frontent to backend.</p>
		</div>
	</div>
	<div class="row">
		<div />
		<div>
			<h3>Personal & Human Engineering</h3>
			<p>Data translators, training, mentoring ...</p>
		</div>
	</div>
	<div class="row">
		<div />
		<div>
			<h3>Software Engineering</h3>
			<p>Multiple language expertise ...</p>
		</div>
	</div>
	<div class="row">
		<div />
		<div>
			<h3>Operations Engineering</h3>
			<p>Development operations (DevOps) engineer specialty</p>
		</div>
	</div>
</div>

<style>
	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
	}
	.hero-container {
		display: table;
		height: 480px;
	}
	.hero {
		display: table-cell;
		/* margin: 0 20px; */
		vertical-align: middle;
		text-align: center;
	}
</style>
