<script context="module" lang="ts">
	export const prerender = true;

	// Redirect to /about until index page is made
	export async function load() {
		return {
			status: 301,
			redirect: '/about'
		};
	}
</script>

<svelte:head>
	<title>atomixwap</title>
</svelte:head>

<section />

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
	}
</style>
