<script lang="ts">
</script>

<header>
	<div class="corner">
		<a href="/">
			<div id="brand">
				<img src="/Logo.png" alt="Logo" style="vertical-align:middle" width="60" />
				<span>atomixwap</span>
			</div>
		</a>
	</div>
	<nav>
		<ul>
			<!-- <li class:active={$page.path === '/engineers'}>
				<a href="/engineers"><small>for</small> <b>Engineers</b></a>
			</li> -->
			<!-- <li class:active={$page.path === '/companies'}>
				<a href="/companies"><small>for</small> <b>Companies</b></a>
			</li> -->
		</ul>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#brand img,
	#brand {
		opacity: 0.8;
		transition: all 0.25s ease-in-out;
	}
	#brand:hover img,
	#brand:hover {
		opacity: 1;
	}

	.corner {
		padding: 16px;
		font-size: x-large;
		font-weight: 600;
	}
	.corner a:hover {
		color: inherit;
	}

	nav {
		display: flex;
		justify-content: center;
		padding: 0 8px;
	}

	ul {
		position: relative;
		padding: 0;
		margin: 0;
		height: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		background-size: contain;
	}

	/* li {
		padding: 0 8px;
		font-size: large;
	}

	li.active > a {
		color: var(--accent-color);
	} */
</style>
