<script>
	export let name;
</script>

<main>
	<div class="hero-container">
		<div class="hero">
			<h1>{name}</h1>
		</div>
	</div>
</main>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

	main {
		height: 100%;
		margin: 0 auto;
		font-family: "Maven Pro", sans-serif;
	}

	.hero-container {
		display: table;
		width: 100%;
		height: 100%;
	}

	.hero {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	h1 {
		text-transform: lowercase;
		font-size: 4em;
		transition: all 500ms ease;
	}

	h1:hover {
		color: #ffffff;
		cursor: default;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
